@import url(base.css);

.landing-background {
    background-image: url('../img/cart.jpg.webp');
}

.checkout {
    margin-top: 90px;
    padding-bottom: 90px;
}

.billing-address {
    padding-top: 45px
}

.billing-form {
    margin-top: 40px;
}

.billing-form>form>.row>div {
    margin-bottom: 15px;
}

.sublime-checkbox {
    margin-bottom: 10px;
}

.sublime-radio .checkmark {
    width: 13px;
    height: 13px;
}

.order-summary {
    background-color: #f2f4f8;
    padding: 45px 60px 55px 60px;
}

.order-calculate {
    margin-top: 50px;
}

.order-calculate ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
}

.sublime-radio {
    margin-bottom: 20px;
}
.sublime-radio .label {
    margin-left: 20px;
}

.payment-method {
    margin-top: 80px;
}

.order-description {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    color: var(--newColor);
    margin-top: 70px;
}

.order-btn {
    margin-top: 80px;
}