@import url('base.css');

/* main section styles */
.main {
    position: relative;
    background-color: var(--mainWhite);
    z-index: 1;
}

/* -----header styles----- */
.header {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 100;
}

/* navbar styles */
.navbar {
    transition: padding 0.2s ease;
    background: var(--mainWhite);
    z-index: 4;
}

.navbar-brand {
    font-size: 1.1rem;
    transition: font-size 0.2s ease;
    color: var(--textBlack);
}

.navbar button {
    font-weight: 700;
    font-size: 16px;
}

.nav-link-icon {
    font-size: 10px;
    margin-bottom: 1px;
    margin-left: 3px;
}

.navbar-cart-icon {
    font-size: 18px;
}

@media screen and (min-width: 576px) {
    .navbar-brand {
        font-size: 2rem;
    }
}

/* navbar shopping cart styles */
.navbar-cart-text {
    font-weight: 400;
}

/* navbar dropdown styles */
.navbar-dropdown {
    position: relative;
}

.navbar-dropdown:hover .navbar-dropdown-menu {
    visibility: visible;
    top: 100%;
    opacity: 1;
}

.navbar-dropdown-button:after {
    position: absolute;
    top: 50%;
    left: calc(100% + 3px);
    transform: translateY(-50%);
    font-family: 'FontAwesome';
    font-size: 10px;
    font-weight: 600;
    content: '\f078';
}

.navbar-dropdown-menu {
    background: var(--mainWhite);
    visibility: hidden;
    position: absolute;
    opacity: 0;
    top: calc(100% + 20px);
    right: -15px;
    padding: 24px 24px 14px 36px;
    text-align: right;
    transition: all 0.2s ease;
}

.navbar-dropdown-menu>* {
    margin-bottom: 10px;
    font-size: 14px;
}

/* styles for side navigation of navbar */
.sidenav {
    background: var(--gray);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -400px;
    transition: all 0.5s ease;
    overflow: scroll;
    z-index: 5;
}

@media screen and (min-width:768px) {
    .sidenav {
        max-width: 400px;
    }
}

.sidenav-close {
    width: 24px;
    height: 24px;
    font-size: 16px;
}

.sidenav-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 700 !important;
    font-size: 16px;
}

/* styles for side navigation dropdowns */
.sidenav-dropdown-menu {
    /* display: none; */
    overflow: hidden;
    max-height: 0px;
    transition: all 0.5s ease;
}

.sidenav-dropdown-menu .dropdown-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sidenav-dropdown-menu .dropdown-item {
    font-size: 14px;
}

/* search bar styles */
.search-bar {
    background: var(--gray);
    position: absolute;
    width: 100%;
    left: 0;
    top: -10%;
    transition: all 0.5s ease;
    z-index: 3;
}

/* if window scrolled this is styles will set on navbar */
.navbar-scrolled {
    padding: 16px !important;
}

.navbar-scrolled .navbar-brand {
    font-size: 1.1rem;
}


/* general footer styles */
.footer-overlay {
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.footer-background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../img/footer-background.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-logo {
    font-size: 2rem;
    cursor: pointer;
    color: var(--textBlack);
}

.footer-logo:hover {
    color: var(--textBlack);
}

.footer-social {
    color: var(--textBlack);
    font-size: 16px !important;
}

.footer-social:hover {
    color: var(--mainWhite);
}

.footer-copyright {
    line-height: 1.5 !important;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.footer-copyright a {
    font-size: 14px;
    font-weight: 400 !important;
}