@import url('base.css');

.landing-background {
    background: url('../img/cart.jpg.webp');
}

.cart-content {
    margin-top: 90px;
}

.cart-columns {
    border-bottom: solid 2px #e3e3e3;
    padding: 5px 0px;
}

.cart-item {
    margin: 35px 0;
}

.cart-item-product {
    display: flex;
    justify-content: start;
    align-items: center;
}

.cart-item-text {
    margin-left: 30px;
}

.cart-item-text h5 a {
    font-size: 18px;
    font-weight: 500 !important;
}

.cart-item-text a {
    font-size: 14px;
    font-weight: 500 !important;
}

.cart-actions {
    margin-top: 10px;
}

.cart-extras {
    margin-top: 90px;
    padding-bottom: 90px;
}

.delivery-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cart-delivery-select {
    margin-top: 40px;
}

.cart-coupon {
    margin-top: 90px;
}

.cart-coupon-form {
    margin-top: 40px;
}

.coupon-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coupon-btn {
    width: 112px;
    min-width: 112px;
    height: 52px;
    padding: 0;
}

.cart-total-content {
    margin-top: 40px;
    background-color: #f2f4f8;
    padding: 40px 45px;
}
.cart-total-content ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-total-content ul li:not(:last-child) {
    margin-bottom: 35px;
}